<a href="https://colab.research.google.com/github/btttttong/classwork/blob/main/Supakavadee_Rodklang_Copy_of_Containers_Classwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists:

1.  Write a Python program to sum all the items in a list.

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
Sum = sum(numbers)
print(Sum)

25

2. Write a Python program to get the largest number from a list.

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
print("Largest element is:", max(numbers))

Largest element is: 5

3. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

Sample List: `['abc', 'xyz', 'aba', '1221']`

Expected Result : 2

In [ ]:
samplelist = ['abc', 'xyz', 'aba', '1221']
count = 0
for i in samplelist:
  if i == i[::-1]:
    count += 1
print(count)

2

4. Write a Python program to get a list, sorted in increasing order by the first element in each tuple from a given list of non-empty tuples. Hint: use `sorted()` function

Sample List : `[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]`

Expected Result : `[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]`

In [ ]:
Sample_List = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted(Sample_List, key=lambda x: x[1])

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

5. Write a Python program to check a list is empty or not

In [21]:
def is_empty_list(list1):
  return not list1

list1 = []
list2 = [1, 2, 3]

print(is_empty_list(list1))
print(is_empty_list(list2))

True
False

6. Write a Python program to remove duplicates from a list.

In [ ]:
def remove_duplicates(list1):
  list1 = set(list1)
  return list(list1)

list1 = [1, 2, 3, 1, 2, 3]
list2 = remove_duplicates(list1)

print(list2)

[1, 2, 3]

7. Write a Python program to clone or copy a list.

In [22]:
def clone_list(list1):
  return list1[:]

list1 = [1, 2, 3]
list2 = clone_list(list1)

print(list2)

[1, 2, 3]

PS: in spare time read this article about mutable and immutable objects https://www.freecodecamp.org/news/mutable-vs-immutable-objects-python/   
(note that the articale is wrong about dict keys: they can be mutable, but they should be hashable)

# Sets:

8. Write a Python program to create a set.

In [ ]:
# Create a set using the set() function
my_set = set([1, 2, 3, 4, 5])

# Create a set using curly braces
my_set = {1, 2, 3, 4, 5}

# Create an empty set
empty_set = set()

9. Write a Python program to iterate over a set.

In [ ]:
my_set = {"apple", "banana", "cherry"}

for i in my_set:
    print(i)

banana
cherry
apple

10. Write a Python program to add element in a set

In [ ]:
# Create a set
my_set = {"apple", "banana", "cherry"}

my_set.add("orange")

print(my_set)

{'banana', 'cherry', 'orange', 'apple'}

11. Write a Python program to create an intersection of two sets.

In [23]:
my_set = {"apple", "banana", "cherry"}
my_set2 = {"banana", "cherry", "orange"}

intersection = my_set.intersection(my_set2)

print(intersection)

{'banana', 'cherry'}

12. Write a Python program to check if a set is a subset of another set.

In [25]:
my_set = {"apple", "banana", "cherry"}
my_set2 = {"apple", "banana", "cherry", "orange", "papaya", "lime"}

print(my_set <= my_set2)
print(my_set2 <= my_set)

True
False

# Tuples

13. Write a Python program to create a tuple.

In [ ]:
# Create a tuple of numbers
my_tuple = (1, 2, 3, 4, 5)

# Access elements of a tuple
print(my_tuple[0]) # Output: 1
print(my_tuple[-1]) # Output: 5

# Iterate over a tuple
for number in my_tuple:
  print(number)

# Unpack a tuple
a, b, c = my_tuple
print(a) # Output: 1
print(b) # Output: 2
print(c) # Output: 3

# Create a tuple from a list
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple) # Output: (1, 2, 3, 4, 5)

14. Write a Python program to unpack a tuple with 3 elements in several variables

15. Write a Python program to add an item in a tuple.

16. Write a Python program to check whether an element exists within a tuple

17. Write a Python program to convert a list to a tuple

18. Write a Python program to reverse a tuple



19. Write a Python program to change first element in a tuple

# Dicts

20. Write a Python script to add a key to a dictionary

```
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}
```

In [ ]:
dict = {0: 10, 1: 20}
i = 30
if i not in dict:
  dict[len(dict)] = i

  print(dict)

{0: 10, 1: 20, 2: 30}

21. Сoncatenate following dictionaries to create a new one.

```
Sample Dictionary :
dict1 = {1: 10, 2: 20}
dict2 = {3: 30, 4: 40}
dict3 = {5: 50, 6: 60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [13]:
dict1 = {0: 10, 1: 20}
dict2 = {3: 30, 4: 40}
dict3 = {5: 50, 6: 60}

dict1.update(dict2)
dict1.update(dict3)


print(dict1)

{0: 10, 1: 20, 3: 30, 4: 40, 5: 50, 6: 60}

22. Write a Python script to check whether a given key already exists in a dictionary

In [16]:
dict1 = {0: 10, 1: 20}
key = 1
if key not in dict1:
  print(key , 'is not in dict')
else:
  print(key , 'is already exists')

1 is already exists

23. Print all keys in a dictionary using for loop

In [17]:
dict1 = {0: 10, 1: 20}
for i in dict1:
  print(i)

0
1

24. Print all values in a dictionary using for loop

In [18]:
dict1 = {0: 10, 1: 20}
for i in dict1.values():
  print(i)

10
20

25. Write a Python program to remove a key from a dictionary.

In [20]:
dict1 = {0: 10, 1: 20}
key = 1
dict1.pop(key)
print(dict1)

{0: 10}

26. Write a Python program to map two lists into a dictionary.

```
Sample input:
keys = ['red', 'green', 'blue']
values = ['#FF0000', '#008000', '#0000FF']

Sample output:
{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}
```

In [4]:
keys = ['red', 'green', 'blue']
values = ['#FF0000', '#008000', '#0000FF']
dictionary = {}
for i in range(len(keys)):
    dictionary[keys[i]] = values[i]
print(dictionary)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

27. Fix this code:

In [11]:
{[1, 2, 3]: 'value'}

TypeError: ignored

In [12]:
{(1, 2, 3): 'value'}

{(1, 2, 3): 'value'}

PS: In spare time read this thread about hashable objects:
https://stackoverflow.com/questions/14535730/what-does-hashable-mean-in-python

# Strings

28. Write a Python program to count the number of characters (character frequency) in a string.

```
Sample String : google.com'
Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
```

29. Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself

```
Sample String : 'restart'
Expected Result : 'resta$t'
```

In [ ]:
inp = str(input('enter input: '))
firstchar = inp[0]
rest = inp[1:]
if firstchar in rest:
  final.append( number[i] )
print(final)

enter input: restart
r$

30. Write a Python program to remove the nth index character from a nonempty string.

In [ ]:
"""finallist = ''
#inp = int(input('enter number: '))
#txt = str(input('enter word: '))
inp = 4
txt = 'banana'
txt = list(txt)
for i in txt:
  if i != inp:
    print(txt[i])
    #finallist += txt[i]
print(finallist)
"""

txt = 'banana'
inp = 4
firstpart = txt[:inp-1]
lastpart = txt[inp:]
print(firstpart + lastpart)

banna

31. Write a Python program that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

```
Sample input: 'red, white, black, red, green, black'
Expected output: 'black, green, red, white, red'
```

In [ ]:
input = 'red, white, black, red, green, black'
inputlist = input.split(', ')
sortlist = sorted(inputlist)
finalans = []
dup = []
for x in range( len(sortlist) ):
    if sortlist[x] not in finalans:
        finalans.append( sortlist[x] )
    else:
        dup.append( sortlist[x] )
finalans = ', '.join(finalans)
print(finalans)

black, green, red, white

32. Use `.replace()` method to clear the `poem` string of punctuation marks, reduce the string to lowercase, and count the number of different words in the `poem`.

In [ ]:
poem = """5 little piges.
This little pig went to market,
This little pig stayed at home,
This little pig had roast beef,
And this little pig had none,
This little pig said, "Wee, wee, wee!
I can't find my way home."""

inputlist = poem.split()
print (inputlist)
tostrinputlist = ' '.join(inputlist)
print (tostrinputlist)
tolower = tostrinputlist.lower()
print (tolower)

finalans = []
dup = []
for x

['5', 'little', 'piges.', 'This', 'little', 'pig', 'went', 'to', 'market,', 'This', 'little', 'pig', 'stayed', 'at', 'home,', 'This', 'little', 'pig', 'had', 'roast', 'beef,', 'And', 'this', 'little', 'pig', 'had', 'none,', 'This', 'little', 'pig', 'said,', '"Wee,', 'wee,', 'wee!', 'I', "can't", 'find', 'my', 'way', 'home.']
5 little piges. This little pig went to market, This little pig stayed at home, This little pig had roast beef, And this little pig had none, This little pig said, "Wee, wee, wee! I can't find my way home.
5 little piges. this little pig went to market, this little pig stayed at home, this little pig had roast beef, and this little pig had none, this little pig said, "wee, wee, wee! i can't find my way home.

33. In Unix-systems a path to a file looks like this: `'/dir1/dir2/dir3/file_name'`. Given list of names, use `.join()` to compuse file path.

```
Example input: path_as_list = ['home', 'yellowduck', 'projects', 'Harbour.Space', 'main.py']
Example output: '/home/yellowduck/projects/Harbour.Space/main.py'
```

34. We have a transcript of the movie, but we're not sure about the names of the characters. Use string formatting to convert the text below so that we can easily change the names

In [ ]:
"""Trinity: Is everything in place?
Cypher: You weren't supposed to relieve me.
Trinity: I know, but I want to take your shift.
Cypher: You like watching him, don't you? You like watching him.
Trinity: Don't be ridiculous.
Cypher: We're going to kill him, do you understand that?
Trinity: Morpheus believes he is the one.
Cypher: Do you?
Trinity: It doesn't matter what I believe.
Cypher: You don't, do you?
Trinity: Did you hear that?
Cypher: Hear what?
Trinity: Are you sure this line is clean?
Cypher: Yeah, of course I'm sure.
Trinity: I better go."""

"Trinity: Is everything in place?\nCypher: You weren't supposed to relieve me.\nTrinity: I know, but I want to take your shift.\nCypher: 1You like watching him, don't you? You like watching him.\nTrinity: Don't be ridiculous.\nCypher: We're going to kill him, do you understand that?\nTrinity: Morpheus believes he is the one.\nCypher: Do you?\nTrinity: It doesn't matter what I believe.\nCypher: You don't, do you?\nTrinity: Did you hear that?\nCypher: Hear what?\nTrinity: Are you sure this line is clean?\nCypher: Yeah, of course I'm sure.\nTrinity: I better go."

PS: In spare time read about string formating in Python: https://realpython.com/python-f-strings/

In [ ]:
# 1
name = ['Pub']
'Hello, %s. %s' % (name, name)

"Hello, ['Pub']. ['Pub']"

In [ ]:
# 2.1
name_one = 'Way'
name_two = 'K'
'Hello, {1}. How are you, {0}?'.format(name_one, name_two)

'Hello, K. How are you, Way?'

In [ ]:
# 2.2
name_one = 'Way'
name_two = 'K'
'Hello, {first_student}. How are you, {second_student}?'.format(
    first_student=name_one, second_student=name_two)

'Hello, Way. How are you, K?'

In [ ]:
name_one = 42
name_two = 100000.1415265
'Hello, {first_student}. How are you, {second_student:.4f}?'.format(
    first_student=name_one, second_student=name_two)

'Hello, 42. How are you, 100000.1415?'

In [ ]:
name_one = 42
name_two = 100000.1415265
f'Hello, {name_one}. How are you, {name_two:.4f}?'

'Hello, 42. How are you, 100000.1415?'

In [ ]:
transcript = """Trinity: Is everything in place?
Cypher: You weren't supposed to relieve me.
Trinity: I know, but I want to take your shift.
Cypher: You like watching him, don't you? You like watching him.
Trinity: Don't be ridiculous.
Cypher: We're going to kill him, do you understand that?
Trinity: Morpheus believes he is the one.
Cypher: Do you?
Trinity: It doesn't matter what I believe.
Cypher: You don't, do you?
Trinity: Did you hear that?
Cypher: Hear what?
Trinity: Are you sure this line is clean?
Cypher: Yeah, of course I'm sure.
Trinity: I better go."""

transcript

In [ ]:
character_one = 'OnePunchMan'
character_two = 'Batman'

transcript = f"""{character_one}: Is everything in place?
{character_two}: You weren't supposed to relieve me.
{character_one}: I know, but I want to take your shift.
{character_two}: You like watching him, don't you? You like watching him.
{character_one}: Don't be ridiculous.
{character_two}: We're going to kill him, do you understand that?
{character_one}: Morpheus believes he is the one.
{character_two}: Do you?
{character_one}: It doesn't matter what I believe.
{character_two}: You don't, do you?
{character_one}: Did you hear that?
{character_two}: Hear what?
{character_one}: Are you sure this line is clean?
{character_two}: Yeah, of course I'm sure.
{character_one}: I better go."""

In [ ]:
print(transcript)

OnePunchMan: Is everything in place?
Batman: You weren't supposed to relieve me.
OnePunchMan: I know, but I want to take your shift.
Batman: You like watching him, don't you? You like watching him.
OnePunchMan: Don't be ridiculous.
Batman: We're going to kill him, do you understand that?
OnePunchMan: Morpheus believes he is the one.
Batman: Do you?
OnePunchMan: It doesn't matter what I believe.
Batman: You don't, do you?
OnePunchMan: Did you hear that?
Batman: Hear what?
OnePunchMan: Are you sure this line is clean?
Batman: Yeah, of course I'm sure.
OnePunchMan: I better go.